*{
    -main-color: #0C0A3E;
    -color-1: #7B1E7A;
    -color-2: #B33F62;
    -color-3: #F9564F;
    -color-4: #F3C677;
}

.itemBox{
    -fx-background-color: -color-2;
    -fx-padding: 0 10 0 10;
    -fx-background-radius: 5;
}

.expandedItemBox{
    -fx-background-color: -color-3;
    -fx-background-radius: 5;
    -fx-animated: 1;
    -fx-padding: 3;
}

.expandedItemBox2{
    -fx-background-color: -color-2;
    -fx-background-radius: 5;
    -fx-animated: 1;
    -fx-padding: 3;
}

#boxTitle{
    -fx-background-color: -main-color;
}

.particularBox{
    -fx-background-color: -color-4;
    -fx-background-radius: 5;
    -fx-animated: 1;
    -fx-padding: 3;
}

.contentBox{
        -fx-background-color: -color-2;
        -fx-background-radius: 5;
        -fx-animated: 1;
        -fx-padding: 3;
    }

.otherBox{
    -fx-background-color: -color-4;
    -fx-background-radius: 5;
    -fx-animated: 1;
    -fx-padding: 3;
}

.debug{
    -fx-background-color: red;
}